[user]
  name = Robert L Carpenter
  email = robert@robacarp.com
[color]
  diff = auto
  status = auto
  branch = auto
[push]
  default = tracking
[alias]
  co = checkout
  br = branch
  s = status
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore_global
[color "status"]
	branch = magenta
[merge]
	tool = opendiff
