[submodule ".vim/bundle/Colour-Sampler-Pack"]
	path = .vim/bundle/Colour-Sampler-Pack
	url = git@github.com:vim-scripts/Colour-Sampler-Pack.git
[submodule ".vim/bundle/NerdTree"]
	path = .vim/bundle/NerdTree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-fish"]
	path = .vim/bundle/vim-fish
	url = git@github.com:aliva/vim-fish.git
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = git@github.com:vim-scripts/vcscommand.vim.git
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = git@github.com:vim-scripts/vim-coffee-script.git
[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = git@github.com:vim-scripts/Align.git
[submodule ".vim/bundle/ScrollColors"]
	path = .vim/bundle/ScrollColors
	url = git@github.com:vim-scripts/ScrollColors.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/conqueterm-vim"]
	path = .vim/bundle/conqueterm-vim
	url = git@github.com:pthrasher/conqueterm-vim.git
[submodule ".vim/bundle/CSApprox"]
	path = .vim/bundle/CSApprox
	url = git@github.com:vim-scripts/CSApprox.git
[submodule ".config/nvim/bundle/CSApprox"]
	path = .config/nvim/bundle/CSApprox
	url = git@github.com:vim-scripts/CSApprox.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
