[user]
  name = Robert L Carpenter
  email = robert@robacarp.com
	signingkey = A384CFD09D54E693
[color]
  diff = auto
  status = auto
  branch = auto
[push]
	default = simple
[alias]
  co = checkout
  br = branch
  s = status
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore_global
[color "status"]
	branch = magenta
[merge]
	tool = opendiff
[commit]
	gpgsign = true
