[user]
  name = Robert L. Carpenter
  email = robacarp@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[push]
  default = tracking
[core]
  editor = /usr/local/bin/vim
[alias]
  co = checkout
  br = branch
  s = status
