.config/fish/fish_history
.config/fish/fish_variables
.config/fish/fishd.*
.vim/doc/*
.vim/backups/*
.vim/plugged
.config/fish/fish_history-e
.config/.mono
.config/stetic
.config/xbuild
.config/NuGet
.config/stripe/config.toml
.vim/.netrwbook